header {
    background-color: skyblue;
}
nav {
    background-color: green;
}

main {
    background-color: burlywood;
}

ul {

background-color: black;
}

li {

    color: azure;
}

footer {

    color: green;
}